footer {
	.inner {
		@include columns(16);
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.copyright {
		float: left;
		font-size: 1.5rem;
	}
	.social {
		float: left;
		@media (min-width: $screen-sm-min) {
			float: right;
		}
		a {
			display: inline-block;
			margin-left: 5px;
			img {
				width: 25px;
			}
		}
	}
}