/* Webfont: CircularStd-Book */@font-face {
    font-family: 'Circular';
    src: url('./fonts/CircularStd-Book.otf');
    // src: url('./fonts/CircularStd-Book.eot'); /* IE9 Compat Modes */
    // src: url('./fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    //      url('./fonts/CircularStd-Book.woff') format('woff'), /* Modern Browsers */
    //      url('./fonts/CircularStd-Book.ttf') format('truetype'), /* Safari, Android, iOS */
    //      url('./fonts/CircularStd-Book.svg#CircularStd-Book') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

// book - 400
// med - 500
// bold - 700
// black - 900

html {
	font-size: $font-size;
}

body {
    font-size: 2rem;
    font-family: "Circular", Arial, sans-serif;
    font-weight: 400;
    color: $color-white;
}

p {
    margin-top: 0;
}
