@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

// book - 400
// med - 500
// bold - 700
// black - 900

html {
	font-size: $font-size;
}

body {
    font-size: 2rem;
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    color: $color-white;
}

p {
    margin-top: 0;
}
