$color-black: #000;
$color-white: #fff;
$color-darkGrey: #18171e;
$color-lightGrey: #939393;
$color-gold: #f6c757;

$screen-sm-min: 768px;
$screen-md-min: 980px;
$screen-lg-min:	1440px;
$screen-xl-min:	1840px;

$font-size:	10.5px;

$column-amount: 16;
$gutter-width: 20px;

$phone-container-width: 100%;
$tablet-container-width: 100%;
$laptop-container-width: 100%;
$desktop-container-width: 1400px + $gutter-width;
$xl-container-width: 1800px + $gutter-width;

$transitionIn: all 150ms cubic-bezier(0.0, 0.0, 0.2, 1);
$transitionOut: all 150ms cubic-bezier(0.4, 0.0, 0.6, 1);
