---
layout: default
---
<div class="artists" id="content">
  <div class="container">
    <div class="row">

      {% assign collectionName = page.items %}
      {% assign items = site.collections | where:'label', collectionName | first %}
      {% assign items = items.docs | sort: 'sort_number' %}
      
      {% for artist in items  %}
        {% if artist.hidden == false %}
          <a href="{{ artist.url | prepend: site.baseurl }}" class="artist col-md-4 col-lg-3 col-xl-2">
            <div class="image">
              <div class="overlay"><div class="text">View Artist</div></div>
              <img src="{{ artist.image_path }}" class="img-fluid artists-thumbnail" />
            </div>
            <p class="name">{{ artist.name }}</p>
          </a>
        {% endif %}
      {% endfor %}

      {% if page.artist_footer[0].show == true %}
        <a href="{{ page.artist_footer[0].link_url }}" class="w-100 text-center h5">{{ page.artist_footer[0].link_content }}</a>
      {% endif %}

    </div>
  </div>
</div>