---
layout: default
---
<div class="single-artist" id="content">
	<div class="container">

	    <div class="row">
			<div class="col hero">
				<img src="{{ page.hero_path }}" alt="" class="img-fluid w-100">
			</div>
	    </div>

		<div class="row">

			<div class="{% if page.albums.size > 0 %} col-lg-6 {% else %} col {% endif %}">

			    <div class="row">
					<div class="col">
			    		{{ page.content }}
					</div>
				</div>

			    <div class="row social">
					{% if page.spotify_url %}
						<a class="col" href="{{ page.spotify_url }}" target="_blank" />
							{% include social/spotify.html %}
						</a>
					{% endif %}
					{% if page.apple_url %}
						<a class="col" href="{{ page.apple_url }}" target="_blank" />
							{% include social/apple.html %}
						</a>
					{% endif %}
					{% if page.twitter_url %}
						<a class="col" href="{{ page.twitter_url }}" target="_blank" />
							{% include social/twitter.html %}
						</a>
					{% endif %}
					{% if page.facebook_url %}
						<a class="col" href="{{ page.facebook_url }}" target="_blank" />
							{% include social/facebook.html %}
						</a>
					{% endif %}
					{% if page.instagram_url %}
						<a class="col" href="{{ page.instagram_url }}" target="_blank" />
							{% include social/instagram.html %}
						</a>
					{% endif %}
					{% if page.youtube_url %}
						<a class="col" href="{{ page.youtube_url }}" target="_blank" />
							{% include social/youtube.html %}
						</a>
					{% endif %}
				</div>

				{% if page.buy_now.size > 0 %}
					<div class="row buy-now">
						<div class="col col-md-2">
							{% if page.buy_now.size > 1 %}
								<a class="btn btn-gold" href="#" target="_blank"  data-toggle="modal" data-target="#purchaseModal"/>Buy Now</a>
							{% else %}
								<a class="btn btn-gold" href="{{ page.buy_now[0].url }}" target="_blank" />Buy Now</a>
							{% endif %}
						</div>
					</div>
				{% endif %}
			</div>

			{% if page.albums.size > 0 %}
				<div class="col-lg-6">
					<div class="row albums">
						{% for album in page.albums  %}
							{% if album.image_path != null %}
								<div class="col-md-6 album">
									{% if album.image_url != null %}
										<a href="{{ album.image_url }}" target="_blank">
											<div class="overlay"><div class="text">View Album</div></div>
									{% endif %}
											<img src="{{ album.image_path }}" class="img-fluid" />
									{% if album.image_url != null %}
										</a>
									{% endif %}
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			{% endif %}

		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade purchase-modal" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="purchaseModalLabel">Purchase Online</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">

					{% for supplier in page.buy_now  %}
						<a class="col link" href="{{ supplier.url }}" target="_blank" />
							{% if supplier.logo_path %}
								<img src="{{ supplier.logo_path }}" alt="{{ supplier.name }}" class="img-fluid">
							{% else %}
								<h3 class="text-dark">{{ supplier.name }}</h3>
							{% endif %}
						</a>
					{% endfor %}

				</div>
			</div>
		</div>
	</div>
</div>