---
layout: default
---
<div class="artists" id="content">
  <div class="container">
    <div class="row">

      {% assign items = site.artists | sort: 'order' %}
      {% for artist in items %}
        {% if artist.hidden == false %}
          <a href="{{ artist.url | prepend: site.baseurl }}" class="artist">
            <div class="overlay"><div class="text">View Artist</div></div>
            <div class="image"><img src="{{ artist.image_path }}" class="img-responsive" /></div>
            <p class="name">{{ artist.name }}</p>
          </a>
        {% endif %}
      {% endfor %}

    </div>
  </div>
</div>