---
layout: default
---
<div class="single-artist" id="content">
	<div class="container">

	    <div class="row">
			<div class="col hero">
				<img src="{{ page.hero_path }}" alt="" class="img-fluid w-100">
			</div>
	    </div>

		<div class="row">

			<div class="{% if page.albums.size > 0 %} col-lg-6 {% else %} col {% endif %}">

			    <div class="row">
					<div class="col">
			    		{{ page.content }}
					</div>
				</div>

			    <div class="row social">
					{% if page.spotify_url %}
						<a class="col col-md-1" href="{{ page.spotify_url }}" target="_blank" />
							{% include social/spotify.html %}
						</a>
					{% endif %}
					{% if page.apple_url %}
						<a class="col col-md-1" href="{{ page.apple_url }}" target="_blank" />
							{% include social/apple.html %}
						</a>
					{% endif %}
					{% if page.twitter_url %}
						<a class="col col-md-1" href="{{ page.twitter_url }}" target="_blank" />
							{% include social/twitter.html %}
						</a>
					{% endif %}
					{% if page.facebook_url %}
						<a class="col col-md-1" href="{{ page.facebook_url }}" target="_blank" />
							{% include social/facebook.html %}
						</a>
					{% endif %}
					{% if page.instagram_url %}
						<a class="col col-md-1" href="{{ page.instagram_url }}" target="_blank" />
							{% include social/instagram.html %}
						</a>
					{% endif %}
					{% if page.youtube_url %}
						<a class="col col-md-1" href="{{ page.youtube_url }}" target="_blank" />
							{% include social/youtube.html %}
						</a>
					{% endif %}
				</div>
			</div>

			{% if page.albums.size > 0 %}
				<div class="col-lg-6">
					<div class="row albums">
						{% for album in page.albums  %}
							{% if album.image_path != null %}
								<div class="col-md-6 album">
									<img src="{{ album.image_path }}" class="img-fluid" />
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			{% endif %}

		</div>
	</div>
</div>