---
layout: default
---
<div class="artists" id="content">
  <div class="container">
    <div class="row">

      {% assign items = site.catalogue | sort: 'sort_number' %}

      {% for artist in items %}
        {% if artist.hidden == false %}
          <div class="artist col-md-4 col-lg-3 col-xl-2">
            <div class="image">
              <img src="{{ artist.image_path }}" class="img-fluid" />
            </div>
            <p class="name">{{ artist.name }}</p>
            <p class="album">{{ artist.album_name }}</p>
          </div>
        {% endif %}
      {% endfor %}

      {% if page.artist_footer[0].show == true %}
        <a href="{{ page.artist_footer[0].link_url }}" class="w-100 text-center h5">{{ page.artist_footer[0].link_content }}</a>
      {% endif %}

    </div>
  </div>
</div>