---
layout: default
---

<div class="contact" id="content">
  
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="contact-slider">
          {% for images in page.slideshow %}
            <div><img src="{{ images.image_path }}" alt="" class="img-fluid" /></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col editable">
        <p>&nbsp;</p>
        <h2><u><strong>Golden Robot Global Entertainment</strong></u></h2>
        <p>Teams in:</p>
        <p>USA (Los Angeles, New York)</p>
        <p>Germany (Hamburg)</p>
        <p>United Kingdom (London)</p>
        <p>Japan (Tokyo)</p>
        <p>Australia (Sydney)</p>
        <p>New Zealand (Auckland)</p>
        <p>&nbsp;</p>
        <p><u><strong>Contact us:</strong></u></p>
        <p><strong>General enquiries (all labels):</strong><br /><a href="mailto:sarah@goldenrobotrecords.com">info@goldenrobotrecords.com</a></p>
        <p><strong>International Business Affairs:</strong><br /><a href="mailto:sarah@goldenrobotrecords.com">sarah@goldenrobotrecords.com</a></p>
        <p><b>International Public Relations: </b><br /><a href="mailto:chris@goldenrobotrecords.com">chris@goldenrobotrecords.com</a></p>
        <p><b>A&amp;R enquiries (all labels):</b><br /><a href="mailto:steve@goldenrobotrecords.com ">steve@goldenrobotrecords.com </a></p>
        <p><b>Social Family Records enquiries (label &amp; PR): </b><br /><a href="mailto:nardia@socialfamilyrecords.com">nardia@socialfamilyrecords.com</a></p>
        <p><b>Riot Records enquiries: </b><br /><a href="mailto:sarah@goldenrobotrecords.com">sarah@goldenrobotrecords.com</a></p>
        <p><b>Xray Records enquiries:</b><br /><a href="mailto:lee@goldenrobotrecords.com">lee@goldenrobotrecords.com</a></p>
        <p><strong>GRGE Productions enquiries:</strong><br /><a href="mailto:mark@goldenrobotrecords.com">mark@goldenrobotrecords.com</a></p>
      </div>
    </div>
  </div>

<!--
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col">

        <div class="alert alert-success email-success invisible" role="alert">
          We've received your message, we'll be in contact shortly.
        </div>

        <form action="https://formspree.io/patwadden@gmail.com" method="POST">
          <input type="hidden" name="_next" value="{{ site.baseurl }}{% link contact.html %}?success=true" />
          <input type="hidden" name="_subject" value="New message via contact form" />

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="Name" name="name" />
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="Email" name="_replyto" />
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea type="email" class="form-control" id="message" aria-describedby="Message" rows="5" name="message"></textarea>
          </div>
          <div class="row">
            <div class="col-lg-4 offset-lg-4">
              <input type="submit" class="btn btn-outline-light btn-block" value="Send" />
            </div>
          </div>
        

      </div>
    
  
-->
