---
layout: default

heroes: 
  - image_path: 'images/hero-placeholder.jpg'
  - image_path: 'images/hero-placeholder.jpg'
  - image_path: 'images/hero-placeholder.jpg'
  - image_path: 'images/hero-placeholder.jpg'

news: 
  - image_one: 'images/hero-placeholder.jpg'
  - image_two: 'images/hero-placeholder.jpg'
  - image_three: 'images/hero-placeholder.jpg'
  - image_four: 'images/hero-placeholder.jpg'

---
<div class="home" id="content">
  
  <section class="hero">
    <div class="container">
      <div class="row">
        <div class="slider">
          <img src="{{ page.heroes[0].image_path }}" alt="" class="img-responsive">
        </div>
      </div>
    </div>
  </section>

  <section class="intro">
    <div class="container">
      <div class="row">
        <div class="inner editable">
          <p>Golden Robot Records is a powerhouse independent worldwide record label who embrace, develop and finance their hand picked artists giving each band the support they need to get their music released across the globe.</p>
          <p>With contacts around the world and offices in Los Angeles, New York and Sydney our hard working passionate and ever expanding team combine to become a tight knit Rock & Roll family involved in every aspect of the artist’s career and success.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="logos">
          <div class="row">
            <div class="logo">
              <img src="images/golden_robot_records.png" class="editable" />
            </div>
            <div class="logo">
              <img src="images/golden_robot_touring.png" class="editable" />
            </div>
            <div class="logo">
              <img src="images/social_family_records.png" class="editable" />
            </div>
            <div class="logo">
              <img src="images/social_family_records_store.png" class="editable" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="posts">
    <div class="container">
      <div class="row">
        <div class="top">
          <div class="primary">
            {% include post.html 
             image="http://lorempixel.com/1200/600" 
             copy="Golden Robot Records is a powerhouse independent worldwide record label who embrace, develop and finance their hand picked artists giving each band the support they need to get their music released across the globe. With contacts around the world and offices in Los Angeles, New York and Sydney our hard working passionate and ever expanding team combine to become a tight knit Rock &amp; Roll family." 
            %}
          </div>
          <div class="secondary">
            {% include post.html 
             image="http://lorempixel.com/600/600" 
             copy="Congratulations to The Cherry Dolls. New Single Cop Out, number one on Triple J Unearthed Punk chart! New album out July 28, pre-order now on the Social Family Records Store." 
            %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="bottom">
          <div class="primary">
            {% include post.html 
             image="http://lorempixel.com/601/601" 
             copy="Toe to Toe’s new album, Ris-up out now on Golden Robot Records. Head to the Social Family Records Store to purchase your copy of the limited edition orange Vinyl." 
            %}
          </div>
          <div class="secondary">
            {% include post.html 
             image="http://lorempixel.com/1201/601" 
             copy="The Engine Room Recording Studios are now open, run by our mad scientist, mixoligist, head of A&amp;R Steve Balbi, we are now offering in house services to our artists! Watch this space and keep your ears open for some killer new recordings coming in 2017." 
            %}
          </div>
        </div>
      </div>
    </div>
  </section>

</div>