---
layout: default
---
<div class="tours" id="content">
  <div class="container">

    {% assign items = site.tours | sort: 'order' %}
    {% for tour in items %}
      {% if tour.hidden == false %}
        <div class="tour">
          <div class="inner clearfix">

            <div class="row">
              <div class="image">
                <img src="{{ tour.image_path }}" alt="" class="img-responsive">
              </div>
              <div class="dates">
                <div class="panel clearfix">
                  <h2>{{ tour.title }}</h2>
                  {% for row in tour.dates %}
                    <p class="date">{{ row.date }} {{ row.venue }} <a href="{{ row.link }}" target="_blank">Get Tickets</a></p>
                  {% endfor %}
                </div>
              </div>
            </div>

          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>
</div>